* {
  margin: 0;
  box-sizing: border-box;
}

.responsive-container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  .responsive-container {
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
  .responsive-container {
    padding: 0 50px;
  }
}

@media (min-width: 992px) {
  .responsive-container {
    padding: 0 100px;
  }
}

@media (min-width: 1200px) {
  .responsive-container {
    padding: 0 150px;
  }
}

.app-content {
  height: 92%;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-data-view {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.no-data-img {
  width: 40%;
  min-width: 250px;
  max-width: 350px;
  border-radius: 20px;
}

.app-container {
  height: 100vh;
  background-color: #fff9ed;
}
